<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>


<table border = "1" cellpadding = "10px" class = "contacts-table">
	<tr> 
		<th width = "5%"> Domains </th>
		<th width = "5%"> Hosting </th>
  		<th width = "5%"> Other Products </th>
  		<th width = "5%"> Marketplace </th>
  		<th width = "5%"> About Us </th>
  		<th width = "5%"> dotPH Forex </th>
  	</tr>

  	<tr>

  		<td>
  			<ul>
  				<li> Register </li>
  				<li> Renew </li>
  				<li> Domain Manager </li>
  				<li> FAQs </li>
  				<li> WHOIS </li>
  			</ul>
  		</td>

  		<td>
  			<ul>
  				<li> dotPH Optimized </li>
  				<li> Hosting </li>
  				<li> Linux VPS <li>
  				<li> Hosting Manager </li>
  				<li> How to's </li>
  			</ul>
  		</td>

  		<td>
  			<ul>
  				<li> Private Registration</li>
  				<li> SSL Certificate </li>
  				<li> G Suite <li>
  				<li> cPanel Hosting </li>
  				<li> Web Design </li>
  			</ul>
  		</td>

      <td>
        <ul>
          <li> Market Overview</li>
          <li> Domain Market </li>
          <li> My Domains for Sale <li>
          <li> My Bids and Watch </li>
          <li> List </li>
          <li> What is Marketplace? </li>
        </ul>
      </td>

      <td>
        <ul>
          <li> Contact Us<li>
          <li> Corporate </li>
          <li> Legal <li>
          <li> Careers </li>
        </ul>
      </td>

      <td>
        <ul>
          <li> $1.00 = Php 52.00 <li>
        </ul>
      </td>

  	</tr>

  </table>
</p>
